
.both h3{
    font-size: 15px;
    margin-top: 32px;
    margin-left: 50%;
    color : white;

}
.both h1{
    font-size: 50px;
    margin-top: 25px;
    margin-left: 35%;
    color : white;
}
 
.both p{
    font-size: 20px;
    margin-top: 50px;
    margin-left: 35%;
    color : black;
    background-color: white;
    width: 45%;
    height: 50px;
    border-radius: 20px;
    text-align: center;
    
}
.both{
    background-image: url(background.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    border-radius: 10px;
    margin-top: 14%;
}
.ather h1{
    margin-left: 32%;
    margin-top: 90px;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
}
.image img{
    width:9%;
    height: 9%;
    border-radius: 100%;
    margin-left: 2%;

}
.card-body p{
    font-size: 20px;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 80%;
    border-bottom: 1px solid black;
    
}
.card-footer .usernamer{
    font-size: 20px;
    margin-top: 20px;
    margin-left: 20px;
}